body{
	width: 100%;
	margin: 0;
}
.container{
	width: 100%;
}
.main{
	width: 100%;
	padding-bottom: 83px;
	/*background-image: url('img/bg.png');*/
	background-repeat: no-repeat;
}
.footer{
	margin: 0;
	display: flex;
	height: 83px;
	width: 100%;
	background-color: #f8f8f8;
	position: fixed;
	bottom: 0;
	left: 0;
}
.footer div{
	padding-top: 15px;
	width: 33%;
	text-align: center;
}
.footer p{
	margin: 0;
}
.firstPage{
	width: 90%;
	margin: 0 auto;
	/*display: block;*/
}
.header{
	width: 90%;
	position: fixed;
	top: 0;
	height: 106px;
	z-index: 999;
	background-color: #ffffff;
	padding-bottom: 15px;
}
.top{
	display: flex;
	justify-content: space-between;
}
.topRight{
	display: flex;
	justify-content: center;
	align-items: center;
}
.searchbox{
	width: 100%;
}
.searchbox input{
	border: solid 1px #f7f7f7;
	background-color: #f7f7f7;
	border-radius: 5px;
	height: 42px;
	width: 100%;
}
.space{
	height: 106px;
}
.bookList,.typeList{
	overflow: scroll;
	display: flex;
}
.book,.type{
	width: 70%;
}
.pager{
	font-size: 10px;
	color: #bababa;
	width: 90%;
}
.secondPage{
	width: 90%;
	margin: 0 auto;
	display: none;
}
.S-header{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 120px;
	/*background-color: black;*/
	/*background-image: url('img/bg.png');*/
}
.S-header img{
	width: 71px;
	height: 71px;
}
.signal{
	font-size: 11px;
	color: #8c8c8c;
	margin-top: 0;
}
.S-tag{
	height: 60px;
	display: flex;
}
.S-tag div{
	width: 33.333%;
	height: 60px;
	/*background-color: red;*/
}
.S-tag div p{
	margin: 0 ;
	text-align: center;
}
.S-list{
	margin-top: 30px;
}